@{
    ViewBag.Title = "Web API";
}

<div class="jumbotron">   
    <p>
      <button id="b" class="btn btn-info"> Call Web API</button>
      @if (!Request.IsAuthenticated) { 
          @Html.ActionLink("Log in", "Login", "Account", routeValues: new { ReturnUrl="/Home/WebApi"}, htmlAttributes: new { id = "loginButton", @class = "btn btn-primary" })
      }
      <pre></pre>
    </p>  
</div>

@section scripts{

<script type="text/javascript">
  $(function () {
    var output = $('pre');
    $('#b').click(function () {

      $.ajax("/api/values")
        .done(function (data) {
          output.text("result:\n");
        })
        .fail(function (data) {
          output.text("error:\n");
        }).always(function (data) {
          output.text(output.text() + JSON.stringify(data));
        });
    })
  })
</script>
}